/*TABLE*/
table {
    background-color: rgb(226, 225, 225);
    border: 2px solid black;
    border-collapse: collapse;
}

.time {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-collapse: collapse;
}

/*HEADER*/
.header__table {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding: 0.5em;
}


thead tr{
    border: 2px solid rgba(0, 0, 0, 0.582);
    text-align: center;
    padding: 0.5em;
}
thead tr th{
    padding: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.712);
}



/*BODY*/
tbody tr th{
    height: 100px;
}

tbody tr th:first-child {
    border: 2px solid black;
    background-color: lightgray;
    padding: 1em; 
}

tbody td {
    text-align: center;
    padding: 1em;
    /*BORDER*/
    border: 2px solid rgba(0, 0, 0, 0.712);
    border-collapse: collapse;
}
