/*TABLE*/
table {
    background-color: gray;
    border: 2px solid black;
    border-collapse: collapse;
}


/*HEADER*/
.header__table {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding: 0.5em;
}


thead tr{
    border: 2px solid rgba(0, 0, 0, 0.712);
    text-align: center;
    padding: 0.5em;
}


/*BODY*/
tbody tr th{
    height: 100px;
}

tbody tr th:first-child {
    border: 2px solid black;
    background-color: lightgray;
    padding: 1em; 
}

tbody td {
    text-align: center;
    padding: 1em;
    /*BORDER*/
    border: 2px solid rgba(0, 0, 0, 0.712);
    border-collapse: collapse;
}
